ajp_temp

conf/EBLB/           
conf/mime.types        
conf/nginx-simple-WAF.conf    
conf/vhts/
conf/fastcgi.conf    
conf/mysite.rules      
conf/php-opcache-example.ini  
conf/win-utf
fastcgi_params  
conf/naxsi_core.rules  
conf/php-xcache-example.ini
conf/koi-utf         
conf/scgi_params
conf/koi-win         
conf/nginx-org.conf    
conf/uwsgi_params


contrib
docs
logs
temp

.dockerignore
*.txt
*.dll
*.exe
*.reg